:root {
    --primary: #46494c;
    --secondary: #4c5c68;
    --for-text: #749bc2;
    --background: #dcdcdd;
    --surface: #dcdcdd;
    --on-background: #cfcfd0;
    --on-surface: #cfcfd0;

    --font-xs: 12px;
    --font-sm: 14px;
    --font-md: 16px;
    --font-lg: 18px;
    --font-xl: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Inria Serif", sans-serif !important;
    background-color: #dcdcdd !important;
}

.category_card.selected {
    color: #749bc2 !important; /* Ubah warna sesuai keinginan Anda */
}

/* HEADER STYLE */

/* header {
    display: flex;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: center;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    background-color: var(--background);
}

header div {
    flex: 0.7;
}

header div h1 {
    color: var(--primary);
    padding: 0.5em;
}

header nav ul li {
    display: inline-block;
    margin: 0 8px;
    padding: 0.5em;
}

header nav ul li button {
    border: none;
    background-color: var(--secondary);
    color: var(--on-background);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

header nav ul li:nth-child(1) button {
    background-color: var(--on-background);
    color: var(--primary);
} */

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.padding_nav {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2) !important;
    background-color: #dcdcdd !important;
    padding-left: 10em !important;
    padding-right: 10em !important;
}

.pointer_nav {
    cursor: pointer;
    color: #46494c;
    text-decoration: none;
}

.padding_nav button {
    background-color: #4c5c68;
    color: #cfcfd0;
    /* border: none; */
}

.padding_nav button:hover {
    background-color: #46494c;
    color: #cfcfd0;
}

.bgc_detail {
    background-color: #dcdcdd !important;
    border: none !important;
}

.category_card {
    cursor: pointer !important;
    background-color: #cfcfd0 !important;
    text-align: center !important;
}

/* MAIN STYLE */

main {
    margin: 0 150px;
}

.shadow_card:hover {
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2) !important;
    background-color: #cfcfd0 !important;
    cursor: pointer !important;
}

.bgc_card {
    background-color: #cfcfd0 !important;
    text-align: center !important;
}

.bgc_card button {
    background-color: #46494c !important;
    color: #cfcfd0 !important;
}

.bgc_card h5 {
    font-size: 71%;
    color: #4c5c68 !important;
}

.bgc_btn {
    background-color: #46494c !important;
    color: #cfcfd0 !important;
}

.btn_action__count {
    background-color: transparent !important;
    padding: 0 !important;
    margin: 0 0.1em !important;
    margin-top: -10px !important;
    font-size: 2em !important;
    color: #4c5c68 !important;
}

.input__border {
    width: 10% !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    background-color: transparent !important;
}

main .hero {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 40px auto !important;
    min-height: 400px !important;
    max-width: 1200px !important;
    background-image: url("../img/background\ hero.jpg") !important;
    background-size: cover !important;
    border-radius: 20px !important ;
    -webkit-border-radius: 20px !important ;
    -moz-border-radius: 20px !important ;
    -ms-border-radius: 20px !important ;
    -o-border-radius: 20px !important ;
}

main .hero p {
    font-size: 10em;
    text-transform: uppercase;
    color: #cfcfd0;
}

main .hero button {
    margin-top: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: #cfcfd0;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main .moto {
    margin-top: 40px;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 14px;
    color: #4c5c68;
}

main .detail-page__action {
    display: flex !important;
    justify-content: space-around !important;
}

/* main .detail-page {
    display: flex;
    margin-top: 10px;
    margin-bottom: 100px;
}

main .detail-page .detail-page__image img {
    width: 75%;
    height: 100%;
}

main .detail-page .detail-page__body p {
    margin: 100px auto;
    font-size: 3em;
    color: var(--secondary);
}

main .detail-page .detail-page__action {
} */

/* FOOTER STYLE */
footer {
    background-color: #46494c;
    color: #cfcfd0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

footer p {
    font-size: var(--font-md);
}
